$charcoal-grey: #212121;
$slate-grey: #494949;
$light-grey: #cdcdcd;
$light-grey2: #e6e6e6;
$medium-grey: #989898;
$dark-grey: #757575;
$danger: #d10000;
$chits-blue: #022e49;
$stone-grey: #424242;
$cool-grey: #a9a9a9;
$cool-grey2: #dee2e6;
$off-white: #f9f9f9;
$carbon: #5d5d5d;
$danger-light: #f15e5e;
$delete-red: #f44336;
$green-light: #04aa6d;
$white: #ffffff;
$grey-2: #afafaf;

$grey-3: #b2b2b2;
$grey-4: #d6d6d6;

// Global color config - 1
$header-bg: $charcoal-grey;
$header-color: $cool-grey;
$primary-button-bg: $charcoal-grey;
$secondary-buttton-bg: $cool-grey;

// Global color config - 2
$header-bg: #177694;
$header-color: #fff;
$primary-btn-bg: #095668;
$primary-btn-color: #fff;
$secondary-btn-bg: transparent;
// $secondary-btn-border: #095668;
// $secondary-btn-bg-border: #095668;
