@import "./colors";
@import "./fonts";


@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: 47.9375rem) { @content; }
  }
  @if $point == tablet {
    @media (max-width: 63.875rem) { @content; }
  }
  @if $point == small-desktop {
      @media (max-width: 76.1875rem) { @content; }
  }
  @if $point == desktop {
      @media (max-width: 90rem) { @content; }
  }
  @if $point == desktop-lg {
    @media (min-width: 90.0625rem) { @content; }
}
}

@mixin input-field {
  width: inherit;
  height: 3.75rem;
  border: 0.0625rem solid $dark-grey;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  color: $slate-grey;
  font-family: $font-regular;
  // text-indent: 0.9375rem;
  padding: 0.9375rem 0.9375rem 0 0.9375rem;
  box-sizing: border-box;
}

@mixin grid-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));;
  gap: 1.25rem;
}

@mixin chit-box-shadow {
  border-radius: 0.3125rem;
  padding: 0.625rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0,0,0,0.2);
}

@mixin custom-btn {
  outline: none;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  font-family: "HelveticaNowTextRegular";
  letter-spacing: -0.0219rem;
  transition: all 0.2s ease;
  background: transparent;

  &:hover {
    color: green;
  }
}