@import './global-mixin';

.container {
  overflow: scroll;
  // position: absolute;
  // margin-top: 3.625rem;
  margin-top: 5.0625rem;
  top: 6.0625rem;
  left: 0;
  right: 0;
  bottom: 2.5rem;
  padding: 1.25rem 40px;
  height: calc(100vh - 11.8375rem);

  .form-section, .container-section,.table-section {
    margin-bottom: var(--fh);
  }

  @include breakpoint(mobile) {
    // height: calc(100vh - 12.4375rem);
    padding: 1.25rem 1.875rem;
  }
}
