@use './global-mixin' as g;

.form-section {
  margin: 0 auto;
  // width: 80%;
  // max-width: 75rem;
  // max-width: 67.5rem;
  max-width: 40.5rem;

  margin-bottom: var(--fh);
  @include g.breakpoint(mobile) {
    max-width: 100rem;
  }
}

.chit-form {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  // gap: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .chit-checkbox-set.horizontal {
    display: flex;
    grid-template-columns: auto;
    gap: 1.875rem;
    align-items: center;
    margin-bottom: 0;
  }
}
.form-submit {
  display: flex;
  gap: 1.25rem;
  margin-top: 2.5rem;
  justify-content: flex-end;

  @include g.breakpoint(mobile) {
    flex-wrap: wrap;
    justify-content: center;

    .chit-btn {
      width: 100%;
    }
  }
}
