@use './global-mixin' as g;

.modal-action {
  margin: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;

  @include g.breakpoint(mobile) {
    .chit-btn {
      width: 100%;
    }
  }
}