@use 'colors';

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: colors.$light-grey;
  .footer-content {
    background-color: colors.$charcoal-grey;
    color: colors.$medium-grey;
    padding: 1.25rem 1.5rem;
    p {
      font-size: 0.6rem;
    }
  }
}
.company-name {
  background-image: linear-gradient(to right, #1eb104, #c32800);
  width: fit-content;
  background-clip: text;
  color: transparent;
}