@use 'colors';

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: colors.$light-grey;
  .footer-content {
    padding: 10px 40px;
    p {
      font-size: 0.6rem;
    }
  }
}
.company-name {
  background-image: linear-gradient(to right, #1eb104, #c32800);
  width: fit-content;
  background-clip: text;
  color: transparent;
}