@use 'colors';

/* header */
.header {
  background-color: colors.$charcoal-grey;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  
  .logo {
    display: block;
    font-size: 2em;
    padding: 2px 20px;
    float: left;
    color: #fff;
  }
  a {
    display: block;
    padding: 16.5px 10px;
    text-decoration: none;
    color: #fff;
  }
  li a:hover,
  .menu-btn:hover {
    color: #ed7676;
    font-weight: bold;
  }
  .logged-user::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  .dropdown-menu {
    right: 0;
    top: unset;
    position: absolute;
    z-index: 1;
    padding: 0 0 0 20px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    width: 157px;
    background: #fff;
    a {
      font-size: 1rem;
      color: #212529;
      text-align: left;
      list-style: none;
      background-clip: padding-box;
    }
    @media screen and (max-width: 767px) {
      position: relative;
      width: 100%;
      .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        display: none;
      }
    }
  }
}

/* menu */
.menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  visibility: hidden;
}

/* menu icon */
.menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.menu-icon .navicon {
  background: #ed7676;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #ed7676;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.menu-icon .navicon:before {
  top: 5px;
}
.menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.menu-btn {
  display: none;
}
.menu.show {
  max-height: fit-content;
  display: block;
  visibility: visible;
}
.menu-icon.show .navicon {
  background: transparent;
}
.menu-icon.show .navicon:before {
  transform: rotate(-45deg);
}
.menu-icon.show .navicon:after {
  transform: rotate(45deg);
}
.menu-icon.show:not(.steps) .navicon:before,
.menu-icon.show:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 64em) {
  .header {
    li {
      float: left;
      &a{
        padding: 20px 30px;
      }
    }
    .menu {
      clear: none;
      float: right;
      max-height: none;
      visibility: visible;

      .profile {
        position: relative;
      }
    }
    .menu-icon {
      display: none;
    }
  }
  .footer-content {
    padding: 6px 10px;
  }
}