@import './colors';
@import './fonts';
@import './global-mixin';

.customer-mapping-btn {
  text-align: end;
  margin-bottom: 40px;
}

.manage-customer {
  @include grid-auto-fit();

  .section {
    @include chit-box-shadow();
  }

  .group-content {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;

    .name {
      color: $slate-grey;
      padding: 5px 0;
    }

    .value {
      color: $slate-grey;
    }

    .chit-amount {
      color: $green-light;
      font-family: $font-bold;
    }
  }
}

.customer-section {
  @include grid-auto-fit();
  margin-top: 2rem;

  .item {
    @include chit-box-shadow();
    position: relative;
    display: grid;
    grid-template-columns: auto 10%;
    align-items: center;
    font-size: 0.875rem;

    .customer-info {
      cursor: pointer;

      .withdraw-amount {
        color: $green-light;
        font-family: $font-bold;
      }
    }

    .actions {
      display: grid;
      row-gap: 5px;
    }

    &:hover {
      transform: scale(1.025);
      transition: all 0.2s ease;
      background-color: $light-grey2
    }
  }

  .add-collection-btn {
    @include custom-btn();
  }

  .customer-position {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.4rem;
    width: 0.875rem;
    font-weight: 500;
    background-color: $green-light;
    border-radius: 10% 30% 50% 70%;
    color: white;
    // opacity: 0.5;
    z-index: -1;
    // backdrop-filter: blur(8px) brightness(80%);

    // position: absolute;
    // top: 0;
    // left: 0;
    // padding: 1rem;
    // font-size: 2rem;
    // font-weight: 100;
    // color: white;
    // backdrop-filter: blur(8px) brightness(80%);
  }
}