@use 'colors';
@use './global-mixin' as g;

.chit-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 13;
  overflow: auto;

  .close-btn {
    float: right;
    cursor: pointer;
  }
}

.chit-modal.active {
  opacity: 1;
  pointer-events: all;
}

.chit-modal-content {
  padding: 2.5rem 1.875rem 2.5rem 1.875rem;
  border: 0.0313rem solid colors.$cool-grey;
  background-color: white;
  height: fit-content;
  width: 37.5rem;
  overflow: auto;
  transition: 0.4s all;

  h3 {
    width: 95%;
  }
}

.chit-modal.edit-modal .chit-modal-content {
  @include g.breakpoint(mobile) {
    padding: 10.5rem 1.875rem 1.5rem 1.875rem;
  }
}

.chit-modal_content.active {
  transform: scale(1);
}
