@use 'colors';
@use './global-mixin' as g;

@mixin setPaginationDirection($position) {
  display: flex;
  justify-content: $position;
}

@mixin pagination-button {
  background: transparent;
  color: colors.$slate-grey;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  user-select: none;
  border-radius: 50%;
  border: 0.0625rem solid colors.$light-grey;
}

.page-position {
  margin-top: 1.25rem;
  @include setPaginationDirection(right);
  @include g.breakpoint(mobile) {
    justify-content: center
  }
}
.page-left {
  @include setPaginationDirection((left));
}

.pagination {
  display: flex;
  gap: 0.625rem;
  margin-top: 1rem;

  :is(.next, .previous):hover {
    color: colors.$slate-grey;
    border: 0.0625rem solid colors.$slate-grey;
  }
  .pages-info {
    display: flex;
    align-items: center;
  }

  .page-previous, .page-next {
    cursor: pointer;
    &.is-disabled {
      cursor: no-drop
    }
    &:hover {
      transform: scale(1.025)
    }
    @include pagination-button();
  }
  .page-item {
    cursor: pointer;
    @include pagination-button();
    &.active {
      background: colors.$charcoal-grey;
      color: colors.$off-white;
      border: none;
      &:hover {
        transform: scale(1.025);
      }
    }
    &:hover {
      transform: scale(1.025);
    }
  }
  .page-item .is-disabled {
    cursor: no-drop !important;
    transform: none !important;
  }
}
