@use 'fonts';
@use 'colors';

.table .edit-col {
  // visibility: hidden;
  display: none;
}

.table .action-btn {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 0;
  // gap: 5px;
}

.table tr:hover .edit-col  {
  // visibility: visible;
  display: block;
  // position: absolute;
  right: 0;
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 10px;
}

// .table td:hover .edit-col.edit {
//   background-color: green;
// }

// .table td:hover .edit-col.delete {
//   background-color: red;
// }



.table {
  font-family: fonts.$font-regular;
  color: colors.$stone-grey;
  border: 1px solid colors.$cool-grey;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;


  
  .action-head {
    align-items: center;
    justify-content: center;
  }
  thead >  tr {
    position: sticky;
    top: 0;
  }

  th, td {
    text-align-last: left;
    padding-left: 10px;
    border: 1px solid colors.$cool-grey;
    height: 35px;
    color: colors.$stone-grey;
    line-height: 1.71;
  }

  td {
    position: relative;
    color: colors.$carbon;
    letter-spacing: -0.55px;
    font-family: fonts.$font-regular;
  }

  th {
    font-family: fonts.$font-bold;
    letter-spacing: -0.48px;
  }
  th, tr {
    td {
      cursor: pointer;
    }
    &:nth-child(even) {
      background-color: colors.$off-white;
    }
    &:hover {
      td {
        // background: colors.$chits-blue;
        // background: colors.$cool-grey;
        color: #fff;
        color: colors.$chits-blue
      }
    }
    &.active {
      td {
        background: colors.$chits-blue;
        color: #fff;
      }
    }
  }
  th, td, tr {
    transition: all 0.3s ease;
  }
  .actions {
    text-align: center;
    text-align-last: auto;
    span {
      padding: 6px;
      display: inline-block;
      vertical-align: middle;
      img {
        display: block;
      }
    }
  }
}