@use 'fonts';
@use 'colors';

@mixin panel-style($position) {
  display: flex;
  justify-content: $position;
  margin-bottom: 40px;
}

.top-panel {
  @include panel-style(space-between);
  
  .top-panel-entity {
    display: grid;
    align-items: center;
    font-family: fonts.$font-bold;

    .collection-amount {
      color: colors.$green-light;
    }
  }
  .top-panel-buttons {
    display: flex;
    gap: 20px;
  }
}

.breadcrumb {
  @include panel-style(start);
  gap: 20px;

  img {
    cursor: pointer;
  }
  div {
    font-size: 18px;
    font-family: fonts.$font-medium;
  }
}

@media screen and (max-width: 767px) {
  .top-panel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .top-panel-buttons {
      display: block;
      width: 100%;

      .chit-btn {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}